.clearfix::after{
   content: "";
   display: block;
   clear: both;
}
.red{
  background-color: #ff0000;
  width: 400px;
  height: 100px;
}
.green{
  background-color: #00ff1e;
  width: 150px;
  height: 250px;
  float: left;
}
.blue{
  background-color: #3300ff;
  width: 250px;
  height: 250px;
  float: left;
}
.kiiro{
  background-color: #ffe600;
  width: 400px;
  height: 100px;
  clear: left;
}



